@import url("https://fonts.cdnfonts.com/css/operator-mono");
@import "ext/solarized-light";

div.highlighter-rouge {
  width: 100%;
  position: relative;
  // right: 150px;
  margin: 40px auto;
  border-radius: 30px;
  font-family: "Operator Mono", sans-serif;
}

.highlight {
  background-color: #f4f4f4;
  font-family: "Operator Mono", sans-serif;
  border-radius: 30px;
}

div.highlight {
  padding: 30px 100px;
  font-family: "Operator Mono", sans-serif;
}

pre.highlight,
code {
  font-family: "Operator Mono", sans-serif;
  line-height: 1.4em;
  tab-size: 2;
  background-color: #f4f4f4;
}

code span {
  font-family: "Operator Mono", sans-serif;
}
