@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;515&display=swap");

.highlight pre {
  padding: 10px;
  margin: 10px auto;
  * {
    font-size: 0.9rem;
  }
  border: 1px initial solid;
  border-radius: 10px;
  font-family: "Fira Code", monospace;
}

// https://github.com/richleland/pygments-css
.hll {
  background-color: #202040;
}
.highlight {
  background: #202040;
}
.c {
  color: #008800;
  font-style: italic;
} /* Comment */
.err {
  border: 1px solid #ff0000;
  border-radius: 10px;
} /* Error */
.k {
  color: #aa22ff;
  font-weight: bold;
} /* Keyword */
.o {
  color: #666666;
} /* Operator */
.ch {
  color: #008800;
  font-style: italic;
} /* Comment.Hashbang */
.cm {
  color: #008800;
  font-style: italic;
} /* Comment.Multiline */
.cp {
  color: #008800;
} /* Comment.Preproc */
.cpf {
  color: #008800;
  font-style: italic;
} /* Comment.PreprocFile */
.c1 {
  color: #008800;
  font-style: italic;
} /* Comment.Single */
.cs {
  color: #008800;
  font-weight: bold;
} /* Comment.Special */
.gd {
  color: #a00000;
} /* Generic.Deleted */
.ge {
  font-style: italic;
} /* Generic.Emph */
.gr {
  color: #ff0000;
} /* Generic.Error */
.gh {
  color: #000080;
  font-weight: bold;
} /* Generic.Heading */
.gi {
  color: #00a000;
} /* Generic.Inserted */
.go {
  color: #888888;
} /* Generic.Output */
.gp {
  color: #000080;
  font-weight: bold;
} /* Generic.Prompt */
.gs {
  font-weight: bold;
} /* Generic.Strong */
.gu {
  color: #800080;
  font-weight: bold;
} /* Generic.Subheading */
.gt {
  color: #0044dd;
} /* Generic.Traceback */
.kc {
  color: #aa22ff;
  font-weight: bold;
} /* Keyword.Constant */
.kd {
  color: #aa22ff;
  font-weight: bold;
} /* Keyword.Declaration */
.kn {
  color: #aa22ff;
  font-weight: bold;
} /* Keyword.Namespace */
.kp {
  color: #aa22ff;
} /* Keyword.Pseudo */
.kr {
  color: #aa22ff;
  font-weight: bold;
} /* Keyword.Reserved */
.kt {
  color: #00bb00;
  font-weight: bold;
} /* Keyword.Type */
.m {
  color: #666666;
} /* Literal.Number */
.s {
  color: #bb4444;
} /* Literal.String */
.na {
  color: #bb4444;
} /* Name.Attribute */
.nb {
  color: #aa22ff;
} /* Name.Builtin */
.nc {
  color: #0000ff;
} /* Name.Class */
.no {
  color: #880000;
} /* Name.Constant */
.nd {
  color: #aa22ff;
} /* Name.Decorator */
.ni {
  color: #999999;
  font-weight: bold;
} /* Name.Entity */
.ne {
  color: #d2413a;
  font-weight: bold;
} /* Name.Exception */
.nf {
  color: #00a000;
} /* Name.Function */
.nl {
  color: #a0a000;
} /* Name.Label */
.nn {
  color: #0000ff;
  font-weight: bold;
} /* Name.Namespace */
.nt {
  color: #008000;
  font-weight: bold;
} /* Name.Tag */
.nv {
  color: #b8860b;
} /* Name.Variable */
.ow {
  color: #aa22ff;
  font-weight: bold;
} /* Operator.Word */
.w {
  color: #bbbbbb;
} /* Text.Whitespace */
.mb {
  color: #666666;
} /* Literal.Number.Bin */
.mf {
  color: #666666;
} /* Literal.Number.Float */
.mh {
  color: #666666;
} /* Literal.Number.Hex */
.mi {
  color: #666666;
} /* Literal.Number.Integer */
.mo {
  color: #666666;
} /* Literal.Number.Oct */
.sa {
  color: #bb4444;
} /* Literal.String.Affix */
.sb {
  color: #bb4444;
} /* Literal.String.Backtick */
.sc {
  color: #bb4444;
} /* Literal.String.Char */
.dl {
  color: #bb4444;
} /* Literal.String.Delimiter */
.sd {
  color: #bb4444;
  font-style: italic;
} /* Literal.String.Doc */
.s2 {
  color: #bb4444;
} /* Literal.String.Double */
.se {
  color: #bb6622;
  font-weight: bold;
} /* Literal.String.Escape */
.sh {
  color: #bb4444;
} /* Literal.String.Heredoc */
.si {
  color: #bb6688;
  font-weight: bold;
} /* Literal.String.Interpol */
.sx {
  color: #008000;
} /* Literal.String.Other */
.sr {
  color: #bb6688;
} /* Literal.String.Regex */
.s1 {
  color: #bb4444;
} /* Literal.String.Single */
.ss {
  color: #b8860b;
} /* Literal.String.Symbol */
.bp {
  color: #aa22ff;
} /* Name.Builtin.Pseudo */
.fm {
  color: #00a000;
} /* Name.Function.Magic */
.vc {
  color: #b8860b;
} /* Name.Variable.Class */
.vg {
  color: #b8860b;
} /* Name.Variable.Global */
.vi {
  color: #b8860b;
} /* Name.Variable.Instance */
.vm {
  color: #b8860b;
} /* Name.Variable.Magic */
.il {
  color: #666666;
} /* Literal.Number.Integer.Long */
Terms

// http://jwarby.github.io/jekyll-pygments-themes/languages/python.html
.highlight pre {
  background-color: #272822;
  border-radius: 10px;
}
.highlight .hll {
  background-color: #272822;
}
.highlight .c {
  color: #c1bb9d;
} /* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
} /* Error */
.highlight .k {
  color: #66d9ef;
} /* Keyword */
.highlight .l {
  color: #ae81ff;
} /* Literal */
.highlight .n {
  color: #f8f8f2;
} /* Name */
.highlight .o {
  color: #f92672;
} /* Operator */
.highlight .p {
  color: #f8f8f2;
} /* Punctuation */
.highlight .cm {
  color: #c1bb9d;
} /* Comment.Multiline */
.highlight .cp {
  color: #75715e;
} /* Comment.Preproc */
.highlight .c1 {
  color: #c1bb9d;
} /* Comment.Single */
.highlight .cs {
  color: #75715e;
} /* Comment.Special */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .kc {
  color: #66d9ef;
} /* Keyword.Constant */
.highlight .kd {
  color: #66d9ef;
} /* Keyword.Declaration */
.highlight .kn {
  color: #f92672;
} /* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef;
} /* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef;
} /* Keyword.Type */
.highlight .ld {
  color: #e6db74;
} /* Literal.Date */
.highlight .m {
  color: #ae81ff;
} /* Literal.Number */
.highlight .s {
  color: #e6db74;
} /* Literal.String */
.highlight .na {
  color: #a6e22e;
} /* Name.Attribute */
.highlight .nb {
  color: #f8f8f2;
} /* Name.Builtin */
.highlight .nc {
  color: #a6e22e;
} /* Name.Class */
.highlight .no {
  color: #66d9ef;
} /* Name.Constant */
.highlight .nd {
  color: #a6e22e;
} /* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
} /* Name.Entity */
.highlight .ne {
  color: #a6e22e;
} /* Name.Exception */
.highlight .nf {
  color: #a6e22e;
} /* Name.Function */
.highlight .nl {
  color: #f8f8f2;
} /* Name.Label */
.highlight .nn {
  color: #f8f8f2;
} /* Name.Namespace */
.highlight .nx {
  color: #a6e22e;
} /* Name.Other */
.highlight .py {
  color: #f8f8f2;
} /* Name.Property */
.highlight .nt {
  color: #f92672;
} /* Name.Tag */
.highlight .nv {
  color: #f8f8f2;
} /* Name.Variable */
.highlight .ow {
  color: #f92672;
} /* Operator.Word */
.highlight .w {
  color: #f8f8f2;
} /* Text.Whitespace */
.highlight .mf {
  color: #ae81ff;
} /* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
} /* Literal.String.Char */
.highlight .sd {
  color: #e6db74;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74;
} /* Literal.String.Double */
.highlight .se {
  color: #ae81ff;
} /* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74;
} /* Literal.String.Other */
.highlight .sr {
  color: #e6db74;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
} /* Literal.String.Single */
.highlight .ss {
  color: #e6db74;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2;
} /* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2;
} /* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2;
} /* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff;
} /* Literal.Number.Integer.Long */

.highlight .gh {
} /* Generic Heading & Diff Header */
.highlight .gu {
  color: #75715e;
} /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd {
  color: #f92672;
} /* Generic.Deleted & Diff Deleted */
.highlight .gi {
  color: #a6e22e;
} /* Generic.Inserted & Diff Inserted */

// add style
.language-shell {
  color: #f8f8f2;
}
.language-html {
  color: #f8f8f2;
}
